    <!-- Icons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/apple-touch-icon.png"
    />
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link
      rel="icon"
      type="image/png"
      sizes="144x144"
      href="assets/favicon-144x144.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="assets/favicon-16x16.png"
    />
    <link rel="manifest" href="assets/site.webmanifest" />

    <link
      rel="preload"
      as="font"
      href="assets/fonts/Tektur-Medium.woff"
      type="font/woff"
      crossorigin
    />
    <link
      rel="preload"
      as="font"
      href="assets/fonts/Outfit-Regular.woff"
      type="font/woff"
      crossorigin
    />
    <link
      rel="preload"
      as="font"
      href="assets/fonts/Outfit-Bold.woff"
      type="font/woff"
      crossorigin
    />
    <link
      rel="preload"
      as="font"
      href="assets/fonts/JetBrainsMono-Regular.woff"
      type="font/woff"
      crossorigin
    />
    <link
      rel="preload"
      as="font"
      href="assets/fonts/JetBrainsMono-Bold.woff"
      type="font/woff"
      crossorigin
    />
